@charset "UTF-8";

.section-title {
  display: flex;
  align-items: center;
  position: relative;
}
.section-title .en {
  display: block;
  font-size: 56px;
  font-weight: bold;
  margin-right: 32px;
}
.section-title .ja {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.section-title .slash {
  width: 1px;
  height: 30px;
  background-color: #707070;
  display: block;
  margin: 6px 32px 0 0;
  transform: rotate(30deg);
}

/*-------------------------------------------
ヘッダー（メインビジュアル）
-------------------------------------------*/
#header .mv-top {
  position: relative;
}
#header .mv-top .mv-img {
  height: 600px;
  object-fit: cover;
}
#header .mv-top .mv-text {
  background-color: rgb(255, 255, 255, 0.5);
  color: #333;
  font-size: 34px;
  letter-spacing: 0.05em;
  padding: 8px 24px;
  position: absolute;
  top: 45%;
  left: 10%;
}

/*-------------------------------------------
理念
-------------------------------------------*/
#concept {
  margin: 40px 0 160px 0;
}
#concept .inner {
  background-image: url("../img/top/concept-bg.png");
  padding: 80px 0;
}
#concept .section-title {
  margin: 0 0 24px 15%;
}
#concept .section-title::before {
  content: "";
  width: 15%;
  height: 1px;
  border-bottom: solid 1px #707070;
  position: absolute;
  left: -18%;
  bottom: 28px;
}
#concept .content {
  max-width: 720px;
  background-color: #fff;
  padding: 4% 6%;
  margin-left: auto;
}
#concept .title {
  font-size: 26px;
  font-weight: bold;
}
#concept .title::after {
  content: "";
  height: 6px;
  background: linear-gradient(90deg, #179591, #b8f5f5, #179591 100%);
  display: block;
  position: relative;
  bottom: -4px;
}
#concept .text {
  line-height: 1.8;
  margin-top: 24px;
}

/*-------------------------------------------
特徴
-------------------------------------------*/
#feature {
  margin-bottom: 228px;
}
#feature .section-title {
  justify-content: flex-end;
  margin: 0 15% 24px 0;
}
#feature .section-title::after {
  content: "";
  width: 15%;
  height: 1px;
  border-bottom: solid 1px #707070;
  position: absolute;
  right: -18%;
  bottom: 28px;
}
#feature .item {
  position: relative;
  margin-bottom: 160px;
}
#feature .item .img {
  max-width: 480px;
}
#feature .item .text {
  max-width: 460px;
  background-color: #fff;
  padding: 48px 24px 24px 24px;
  position: absolute;
  right: 0;
  bottom: -110px;
}
#feature .item .text .title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}
#feature .item .text .title .en {
  font-size: 14px;
  margin: 0 20px 30px 0;
}
#feature .item .text .title .slash {
  width: 1px;
  height: 80px;
  background-color: #707070;
  display: block;
  margin: 6px 32px 0 0;
  transform: rotate(45deg);
}
#feature .item .text .title .no {
  font-size: 48px;
  line-height: 1;
  margin-top: 28px;
}
#feature .item .text .title-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
#feature .item .text .description {
  line-height: 1.8;
  text-align: justify;
}
#feature .item.item-r .img {
  margin-left: auto;
}
#feature .item.item-r .text {
  right: auto;
  left: 0;
}

/*-------------------------------------------
クリニックからのお知らせ
-------------------------------------------*/
#news {
  background-color: #f1f7f7;
}
#news .img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
}
#news .content {
  padding: 0 24px;
  position: relative;
  top: -80px;
}
#news .content .inner{
  max-width: 800px;
  background-color: #fff;
  padding: 72px 40px;
  margin: 0 auto;
}
#news .section-title-news {
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 56px;
  text-align: center;
}
#news .tab-list {
  display: flex;
}
#news .tab-list li {
  width: 50%;
  background-color: #f1f7f7;
  cursor: pointer;
  padding: 12px 0;
  text-align: center;
}
#news .tab-list li.active {
  background-color: #179591;
  color: #fff;
}
#news .tab-content {
  display: none;
}
#news .tab-content.active {
  display: block;
}
#news .tab-content div {
  display: flex;
  border-bottom: solid 1px #ccc;
}
#news .tab-content dt {
  width: 24%;
  padding: 16px 24px;
}
#news .tab-content dd {
  width: 76%;
  padding: 16px 24px;
}

@media screen and (max-width: 767px) {
  .section-title .en {
    font-size: 40px;
    margin-right: 24px;
  }
  .section-title .ja {
    font-size: 14px;
  }
  .section-title .slash {
    height: 25px;
    margin-right: 24px;
  }

  /*-------------------------------------------
  ヘッダー（メインビジュアル）
  -------------------------------------------*/
  #header .mv-top .mv-text {
    font-size: 28px;
  }

  /*-------------------------------------------
  理念
  -------------------------------------------*/
  #concept {
    margin: 40px 0 120px 0;
  }
  #concept .inner {
    padding: 24px;
  }
  #concept .section-title::before {
    width: 15%;
    left: -20%;
    bottom: 20px;
  }
  #concept .title {
    font-size: 20px;
  }
  #concept .text {
    font-size: 14px;
  }

  /*-------------------------------------------
  特徴
  -------------------------------------------*/
  #feature {
    margin-bottom: 80px;
  }
  #feature .section-title::after {
    width: 15%;
    right: -20%;
    bottom: 20px;
  }
  #feature .item {
    margin-bottom: 40px;
  }
  #feature .item .text {
    padding: 24px;
    position: static;
  }
  #feature .item .text .title {
    margin-bottom: 16px;
    position: static;
  }
  #feature .item .text .description {
    font-size: 14px;
  }

  /*-------------------------------------------
  クリニックからのお知らせ
  -------------------------------------------*/
  #news .section-title-news {
    font-size: 20px;
    margin-bottom: 32px;
  }
  #news .content .inner {
    padding: 40px 24px;
  }
  #news .tab-content {
    font-size: 14px;
  }
  #news .tab-content div {
    flex-direction: column;
  }
  #news .tab-content dt {
    width: 100%;
    padding: 16px 8px 8px 8px;
  }
  #news .tab-content dd {
    width: 100%;
    padding: 0 8px 16px 8px;
  }
}